@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Libre+Baskerville:ital@1&display=swap');

:root{
 /*--fuente: font-family: 'Alex Brush', cursive;*/
 --fuente: 'Alex Brush', serif;
 --titulo: 'Alex Brush', cursive;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    min-height: 100vh;
}

section{
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 0 40px;
    align-items: center;
}

section h2{
    font-family: var(--titulo);
    font-size:48px;
    text-decoration: underline;
    margin-top:25px;
}

section p{
    font-family: var(--fuente);
    font-weight:300px;
    font-size:22px;
    margin-top:15px;
    margin-bottom:15px;
}

section a{
    display:inline-block;
    padding: 7px 0;
    color:#d54eaf;
    text-decoration:none;
    width:200px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #fef9d7;
    border-radius: 50px;
    background-color: #fef9d7;
    box-shadow: 2px 4px 0px #d299c2;
    margin-top: 20px;
}

section img{
    height: 60vh;
    border-radius: 50%;
    image-rendering:optimizeQuality;
    box-shadow: 2px 1px #fecfef;
 }

 section:nth-child(2){
    background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%);
 }  
 section:nth-child(3){
    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
 } 
 section:nth-child(4){
    background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);

 }
 section:nth-child(5){
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%); }
 section:nth-child(6){
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%); }
 section:nth-child(7){
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
 }

 .progress-bar {
    height: 1rem;
    background: #ff9a9e;
    position: fixed;
    top: 0;
    left: 0;
  }

 /*CRONOMETRO*/
.cartel {
  width: 55px;
  height: 55px;
  padding: 10px 0px 5px 0px;
  text-align: center;
  display: inline-block;
  margin: 5px;
  border: 3px solid #ff9a9e;
  border-radius: 5px;
}
.cartel>div{
  font-size: 25px;
  font-family: 'Chela One', sans serif;
  animation: fade 3s;
  line-height: 15px;
  margin-top: 2px;
}
.cartel>div>h3 {
  margin-top: 7px;
  font-size: 10px;
  font-weight: normal;
}
.h3 {
  bottom: 0;
  margin: 0 auto ;
}

.contenido {
  width: 80%;
  margin: 0 auto;
  border: 0px solid black;
  z-index: 10;
}
li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}
li span {
  display: block;
  font-size: 4.5rem;
}
.numeros {
  font-family: 'Chela one', sans-serif;
  font-size: 60px;
  transition: .3s;
  animation-name: fade;
  animation-duration: 3s;
}
.responsivo1 {
  display: inline-block
}
.responsivo2 {
  display: inline-block
}
@media (max-width: 450px) {  
  .contenedor {
    margin-top: 15%;
  }
  .banner {
   margin-bottom: 30px; 
  }
  .cartel {
    height: 55px;
    width: 55px;
  }
  .cartel>div{
    font-size: 25px;
  }
  .cartel>div>h3 {
    font-size: 10px;
    margin-top: 0px;
  }
  
}
@keyframes fade {
    0%   {
      opacity: 0;
  }
    30%   {
      opacity: 0;
  }  
    100% {
      opacity: 1;
  }
}

/*FIN CRONOMETRO*/
 
 .back-to-top {
    position: fixed;
    right: 2rem;
    right: 2rem;
    bottom: 2rem;
    border-radius: 100%;
    background: #ffecd2;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
  }

  .back-to-top:hover {
    opacity: 60%;
  }

  .hidden {
    display: none;
    opacity: 0%;
  }

 @media screen and (max-width: 1000px){
    section{
        flex-direction: column-reverse;
        /*justify-content: center;*/
    }

    section > img{
        height: 40vh;
    }

    .contenedor-texto{
        text-align: center;
    }

 }

 @media screen and (max-width:600px){
    section > img{
        height: 25vh;
    }
 }

 